
exports.up = function(knex, Promise) {
    return knex.schema.alterTable('bedhistorys', table => {
        table.uuid('id_bed')
        .references('id').inTable('beds.id').notNull()
    })
};

exports.down = function(knex, Promise) {
    return knex.schema.raw("SET sql_mode='TRADITIONAL'")
  .table('bedhistorys', function (table) {
    table.dropColumn('id_bed')
  })
};
//GRANT ALL PRIVILEGES ON bedsystem.* TO 'bedsystem'@'localhost';
//grant all privileges on mydb.* to myuser@'xxx.xxx.xxx.xxx' identified by 'mypassword';